{% extends 'wrappers/wrapper.html' %}
{% load static %}
{% block content %}

<section class="error-404">
      <div class="azir-container text-center">
        <div class="section-header-style-2">
          <h1 class="h1">Uzr, xatolik yuz berdi!</h1>
          <p class="p"> Siz so'ragan manzil bo'yicha sahifa topilmadi!</p>
        </div>
        <div class="row justify-content-center">
          <div class="col-12 col-md-6"><img class="img-fluid" src="/static/assets/images/pages/404/error.svg" alt="error image"></div>
          <div class="col-12 col-md-8">
            <h3 class="solution--title">Iltimos Bosh sahifaga qaytib qaytadan urinib ko'ring.</h3>
            <div class="align-items-center">
              <button class="btn-pink">Qaytish<i class="arrow_right"></i></button>
            </div>
          </div>
        </div>
      </div>
    </section>
 {% endblock %}