{% extends 'wrappers/wrapper.html' %}
{% load static %}
{% block content %}
   <div class="page-header_blog" style="background-image: url(/static/assets/svg/contactusboy.svg);">
      <div class="azir-container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 text-center">
            <p class="tag">Teg</p>
            <h1>Post title</h1>
            <div class="blog-info">
              <p class="author"><i class="icon_profile"></i><span>Admin</span></p>
              <p class="date"><i class="icon_calendar"></i><span>08 Apr 2019</span></p>
              <p class="comment"><i class="icon_chat"></i><span>3 Muhokama</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
     <section class="blog">
      <div class="azir-container">
        <div class="blog-detail">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-12 mt-5 d-block d-md-none d-lg-none d-xl-none"><a id="sidebar-opener" href="#"> <i class="icon_menu"></i>Menyu</a></div>
                <div class="col-12 col-lg-8">                 
                  <div class="blog-detail_content">
                    <p class="first-p p-16">Grabs Attention: Consumers are inundated with ads, so it’s vital that your ad catches the eye and immediately grabs interest. You could do this with a headline or slogan (such as VW’s “Drivers Wanted” campaign), color or layout (Target’s new colorful, simple ads are a testimony to this) or illustration (such as the Red Bull characters or Zoloft’s depressed ball and his ladybug friend). Promises Credible Benefit: To feel compelled by an ad, the consumer must stand to gain something; the product is often not enough. What would the consumer gain by using your product or service? This could be tangible, like a free gift; prestige, power or fame. But remember: you must be able to make good on that promise, so don’t offer anything unreasonable.</p>
                    <p class="p-16 mb-30">Keeps Interest: Grabbing the consumer’s attention isn’t enough; you have to keep that attention for at least a few seconds. This is where your benefits come into play or a product description that sets your offer apart from the others.</p>
                    <h3>Generates Action: This is the ultimate point of advertising copy</h3>
                    <p class="p-16">It must make the reader react in some way. This doesn’t necessarily translate to buying the product immediately or using the service. Your ad could be a positioning tool to enable the reader to think about you in a certain light. Speak to your audience, or the audience you’d like to reach, and you’ll be surprised how frequently they come to you in the future.</p>
                    <p class="p-16 mb-30">How you write your advertising copy will be based on where you will place your ad. If it’s a billboard ad, you’ll need a super catchy headline and simple design due to the speed at which people will pass. Online ads are similar; consumers are so inundated with Internet advertising that your ad must be quick and catchy.</p>
                    
                  </div>
                  <div class="blog-detail_footer">
                    <div class="tag">
                      <h3>Teg:</h3>
                      <div class="items-group tag-group"><a href="#">E'lon</a><a href="#">Yangilik</a><a href="#">Maktab</a></div>
                    </div>
                    <div class="share">
                      <h3>Ijtimoiy tarmoqlarda ulashish</h3>
                      <div class="social-group"><a class="fab fa-facebook-f" href="https://www.facebook.com/"></a><a class="fab fa-telegram" href="https://twitter.com/"></a><a class="fab fa-instagram" href="https://www.instagram.com/"></a></div>
                    </div>
                  </div>
                  <div class="blog-detail_comment">
                    <h3 class="block-action--title">Muhokamalar <span>(03)</span></h3>
                    <div class="comment-block">
                      <div class="comment__avatar"><img src="/static/assets/images/user-icon.svg" alt="avatar"></div>
                      <div class="commnet__content">
                        <p class="date">15 Dec 2019</p>
                        <h5 class="username">Evan Dean</h5>
                        <p class="comment-text">Spielberg’s blockbuster, “Minority Report”, is set in the year 2054. The future – at least according to a team of MIT futurologists.</p>
                        <div class="comment__content_action"><a href="#">Yoqdi</a><a href="#">Javob berish</a></div>
                   
                        <div class="comment-block">
                          <div class="comment__avatar"><img src="/static/assets/images/user-icon.svg" alt="avatar"></div>
                          <div class="commnet__content">
                            <p class="date">15 Dec 2019</p>
                            <h5 class="username">Evan Dean</h5>
                            <p class="comment-text">Spielberg’s blockbuster, “Minority Report”, is set in the year 2054. The future – at least according to a team of MIT futurologists.</p>
                            <div class="comment__content_action"><a href="#">Yoqdi</a><a href="#">Javob berish</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="comment-block">
                      <div class="comment__avatar"><img src="/static/assets/images/user-icon.svg" alt="avatar"></div>
                      <div class="commnet__content">
                        <p class="date">15 Dec 2019</p>
                        <h5 class="username">Evan Dean</h5>
                        <p class="comment-text">Spielberg’s blockbuster, “Minority Report”, is set in the year 2054. The future – at least according to a team of MIT futurologists.</p>
                        <div class="comment__content_action"><a href="#">Yoqdi</a><a href="#">Javob berish</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="blog-detail_rely">
                    <h3 class="block-action--title">Fikr bildirish</h3>
                    <p class="mb-2">Faqat ro'yhatdan o'tgan foydalanuvchilar fikr bildirish imkoniyatiga ega.</p>
                    <form>
                      <div class="row">
                        <div class="col-12 col-md-6">
                          <input class="input-form" type="text" placeholder="Ismingiz" required>
                        </div>
                        <div class="col-12 col-md-6">
                          <input class="input-form" type="email" placeholder="Email" required>
                        </div>
                        <div class="col-12">
                          <textarea class="textarea-form" name="" cols="30" rows="10" placeholder="Matn..." required></textarea>
                          <button class="btn-pink mb-5">Fikr bildirish</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-12 col-lg-4">
                  <div class="blog_sidebar" id="sidebar">
                    <div class="sidebar_section">
                      <div class="search">
                        <form action="" method="GET">
                          <input class="input-form" type="text" placeholder="Qidiruv..." name="q">
                          <button type="submit" class="cta-btn btn-pink mt-3 ">Qidirish</button>
                        </form>
                      </div>
                    </div>
                    <div class="sidebar_section">
                      <div class="blog-categories">
                        <h3 class="sidebar-title">Blog</h3>
                        <ul>
                          <li><a class="category-link" href="#"><span class="name">Yangiliklar</span><span class="quantity">(03)</span></a></li>
                          <li><a class="category-link" href="#"><span class="name">E'lonlar</span><span class="quantity">(07)</span></a></li>
                          <li><a class="category-link" href="#"><span class="name">Maqolalar</span><span class="quantity">(15)</span></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="sidebar_section">
                      <div class="feature-news">
                        <h3 class="sidebar-title">So'ngi yangiliklar</h3>
                        <div class="feature-news_block">
                          <p class="date"> <i class="far fa-calendar"></i>29 Nov 2019</p><a class="title" href="blog_detail.html">A Right Media Mix Can Make The Difference</a>
                          <p class="author">by<span>Admin</span></p>
                        </div>
                        <div class="feature-news_block">
                          <p class="date"> <i class="far fa-calendar"></i>29 Nov 2019</p><a class="title" href="blog_detail.html">How I Lost The Secret Of Dazzling Success For 20 Years</a>
                          <p class="author">yukladi<span>Admin</span></p>
                        </div>
                        <div class="feature-news_block">
                          <p class="date"> <i class="far fa-calendar"></i>29 Nov 2019</p><a class="title" href="blog_detail.html">Search Engine Optimization And Advertising</a>
                          <p class="author">by<span>Admin</span></p>
                        </div>
                        <div class="feature-news_block">
                          <p class="date"> <i class="far fa-calendar"></i>29 Nov 2019</p><a class="title" href="blog_detail.html">A Right Media Mix Can Make The Difference</a>
                          <p class="author">by<span>Admin</span></p>
                        </div>
                      </div>
                    </div>
              
                  </div>
                </div>
       
              
              </div>
            </div>
          </div>
        </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
 {% endblock %}