{% extends 'wrappers/wrapper.html' %}
{% load static %}
{% block content %}

<section class="our-team">
      <div class="azir-container">
        <div class="page-header text-center">
          <h1 class="h1">Rahbariyat</h1>
          <div class="bread-crumb"><a class="bread-crumb__link prv-page" href="{% url 'xtb:index' %}">Bosh sahifa</a><a class="bread-crumb__link crt-page" href="#">Rahbariyat</a></div>
        </div>
        <div class="row">
          <div class="col-12">
            <section class="h3-section5">
              <div class="row">
                <div class="col-12">
                  <div class="section-header-style-1 text-center">
                    <h1 class="h1">Bo'lim rahbariyati</h1>
                  </div>
                </div>
                <div class="col-12">
                  <div class="advisors-group">
                    <div class="row">
                      
                      <div class="col-12 col-lg-6">
                        <div class="advisor-block">
                          <div class="advisor-info"><img class="advisor-avatar" src="/static/assets/images/boradatiymujikusericon.svg" alt="Advisor">
                            <div class="advisor-name">
                              <h5 class="h5">Abdullo Abdullaev</h5>
                              <p></p>
                            </div>
                          </div>
                          <div class="advisor-content">
                            <p class="advisor-advice"><b>Lavozimi:</b>Bo'lim boshlig'i</p>
                            <p class="advisor-advice"><b>Ma'lumoti:</b>Oliy</p>
                            <p class="advisor-advice"><b>Tug'ulgan yili:</b>1979.03.12</p>
                            <div class="advisor-socials">
                              <a href="#"><i class="fa fa-phone"></i> </a> <a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"><i class="fab fa-telegram"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-lg-6">
                        <div class="advisor-block">
                          <div class="advisor-info"><img class="advisor-avatar" src="/static/assets/images/girluser.svg" alt="Advisor">
                            <div class="advisor-name">
                              <h5 class="h5">Anora Xakimova</h5>
                              <p></p>
                            </div>
                          </div>
                          <div class="advisor-content">
                            <p class="advisor-advice"><b>Lavozimi:</b>Bosh xisobchi</p>
                            <p class="advisor-advice"><b>Ma'lumoti:</b>Oliy</p>
                            <p class="advisor-advice"><b>Tug'ulgan yili:</b>1984.06.21</p>
                            <div class="advisor-socials">
                              <a href="#"><i class="fa fa-phone"></i> </a> <a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"><i class="fab fa-telegram"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                     
                       <div class="col-12 col-lg-6">
                        <div class="advisor-block">
                          <div class="advisor-info"><img class="advisor-avatar" src="/static/assets/images/boradatiymujikusericon.svg" alt="Advisor">
                            <div class="advisor-name">
                              <h5 class="h5">Abdullo Abdullaev</h5>
                              <p></p>
                            </div>
                          </div>
                          <div class="advisor-content">
                            <p class="advisor-advice"><b>Lavozimi:</b>Bo'lim boshlig'i</p>
                            <p class="advisor-advice"><b>Ma'lumoti:</b>Oliy</p>
                            <p class="advisor-advice"><b>Tug'ulgan yili:</b>1979.03.12</p>
                            <div class="advisor-socials">
                              <a href="#"><i class="fa fa-phone"></i> </a> <a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"><i class="fab fa-telegram"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-lg-6">
                        <div class="advisor-block">
                          <div class="advisor-info"><img class="advisor-avatar" src="/static/assets/images/girluser.svg" alt="Advisor">
                            <div class="advisor-name">
                              <h5 class="h5">Anora Xakimova</h5>
                              <p></p>
                            </div>
                          </div>
                          <div class="advisor-content">
                            <p class="advisor-advice"><b>Lavozimi:</b>Bosh xisobchi</p>
                            <p class="advisor-advice"><b>Ma'lumoti:</b>Oliy</p>
                            <p class="advisor-advice"><b>Tug'ulgan yili:</b>1984.06.21</p>
                            <div class="advisor-socials">
                              <a href="#"><i class="fa fa-phone"></i> </a> <a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"><i class="fab fa-telegram"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <div class="col-10 col-md-8 mx-auto">
            <div class="join-team text-center">
              <h1 class="h1">Savollar yoki takliflar bormi ?</h1>
              <p class="p-16">Agar boshqarma faoliyatiga oid savol yoki takliflar tug'ilgan bo'lsa bizga yozib qoldirishingiz mumkin.Biz barcha savol va takliflarga javob beramiz.</p><a class="btn-pink" href="{% url 'xtb:page_views' 'contact' %}">Bog'lanish</a>
            </div>
          </div>
        </div>
      </div>
    </section>
 {% endblock %}