{% extends 'wrappers/wrapper.html' %}
{% load static %}
{% block content %}

    <section class="services">
      <div class="azir-container">
        <div class="page-header text-center">
          <h1 class="h1">Katalog nomi</h1>
          <div class="bread-crumb"><a class="bread-crumb__link prv-page" href="{% url 'xtb:index' %}">Bosh sahifa </a><a class="bread-crumb__link crt-page" href="">Katalog nomi</a></div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="services-group">
              <div class="row">
                <div class="col-12 col-sm-6 col-lg-4">
                  <div class="service_block">
                    <div class="service-icon"><img src="/static/assets/svg/pe.svg" alt="file type"></div>
                    <div class="service-content">
                      <h5 class="h5 service-content--title">File nomi</h5>
                      <p class="p h5 service-content--pragraph">8-sinf Matematika 69-mavzu:Kvadrat tenglamalar</p><a href="#" class="btn btn-sm  bg-primary">Yuklab olish</a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                  <div class="service_block">
                    <div class="service-icon"><img src="/static/assets/svg/pe.svg" alt="file type"></div>
                    <div class="service-content">
                      <h5 class="h5 service-content--title">File nomi</h5>
                      <p class="p h5 service-content--pragraph">8-sinf Matematika 69-mavzu:Kvadrat tenglamalar</p><a href="#" class="btn btn-sm  bg-primary">Yuklab olish</a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                  <div class="service_block">
                    <div class="service-icon"><img src="/static/assets/svg/penguin.svg" alt="file type"></div>
                    <div class="service-content">
                      <h5 class="h5 service-content--title">File nomi</h5>
                      <p class="p h5 service-content--pragraph">8-sinf Matematika 69-mavzu:Kvadrat tenglamalar</p><a href="#" class="btn btn-sm  bg-primary">Yuklab olish</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
 {% endblock %}