{% extends 'wrappers/wrapper.html' %}
{% load static %}
{% block content %}
  <section class="shop">
      <div class="azir-container-full-fluid">
        <div class="page-header text-center">
          <h1 class="h1">Katalog nomi</h1>
          <div class="bread-crumb"><a class="bread-crumb__link prv-page" href="index.html">Bosh saxifa</a><a class="bread-crumb__link prv-page" href="#">Katalog nomi</a></div>
        </div>
        <div class="row no-gutters">

     <div class="col-md-4 p-3 sidebar pl-2">
            <div class="text-center">
              <h4>Saralash</h4>
            </div>
  <div class="form-group">
      <label for="disabledSelect">Fanni yoki xujjat turini tanlang</label>
      <select id="disabledSelect" class="form-control">
        <option>Ona-tili</option>
        <option>Dars ishlanmalari</option>
        <option>Konspektlar</option>
        <option>Maqolalar</option>
      </select>
    </div>
     <div class="form-group">
      <label for="disabledSelect">Sinflar</label>
      <select id="disabledSelect" class="form-control">
        <option>1-sinf</option>
        <option>2-sinf</option>
        <option>3-sinf</option>
        <option>4-sinf</option>
        <option>5-sinf</option>
        <option>6-sinf</option>
        <option>7-sinf</option>
        <option>8-sinf</option>
        <option>9-sinf</option>
        <option>10-sinf</option>
        <option>11-sinf</option>
      </select>
    </div>
  </div>

          <div class="col-md-8">

  <div class="card">
  <div class="card-body">
    <h2>Informatikadan test savollari</h2>
    <p class="card-text">Andijon viloyati Shahrihon tumaniga qarashli Xalq Ta'limi Bo'limi boshqarmasi rasmiy sayti.Andijon viloyati Shahrihon tumaniga qarashli Xalq Ta'limi Bo'limi boshqarmasi rasmiy sayti.</p>
  </div>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text"  style="border:none;border-bottom-left-radius:20px;"><i class="fa fa-eye"></i> 563</span>
  </div>
  <input type="text" disabled  style="border:none;" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
  <div class="input-group-append">
    <button class="btn btn-success" type="button"><i class="fa fa-download"></i> Yuklab olish</button>
  </div>
</div> 
</div>

  <div class="card">
  <div class="card-body">
    <h2>Informatikadan test savollari</h2>
    <p class="card-text">Andijon viloyati Shahrihon tumaniga qarashli Xalq Ta'limi Bo'limi boshqarmasi rasmiy sayti.Andijon viloyati Shahrihon tumaniga qarashli Xalq Ta'limi Bo'limi boshqarmasi rasmiy sayti.</p>
  </div>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text"  style="border:none;border-bottom-left-radius:20px;"><i class="fa fa-eye"></i> 563</span>
  </div>
  <input type="text" disabled  style="border:none;" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
  <div class="input-group-append">
    <button class="btn btn-success" type="button"><i class="fa fa-download"></i> Yuklab olish</button>
  </div>
</div> 
</div>
</div>




     
        </div>
        <br>
<br>
<br>
<nav aria-label="Page navigation example" class="pr-2 float-right">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">«</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">»</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
      </div>
    </section>
<style>
  .card{
    border:none;
  
    width:95%;
    margin:0px auto;
  }
   .card-footer{
    border:none;

  }
    .card-footer{
    border:none;
    border-radius-left:10px;
    font-size:18px;
    
  }
  #download_button{

    box-sizing: border-box;
    background-color: #1dd2af;
    height:100%;

    top: 0px;
    right: 0px;
    padding:8px;
    color: #fff;
  }
  .sidebar{
    border:1px solid black;
    box-shadow:4px 6px 7px black;
    border-radius:10px;
    width:90%;
    margin:0px auto;
  }
</style>
 {% endblock %}