{% extends 'wrappers/wrapper.html' %}
{% load static %}
{% block content %}

     <section class="services">
      <div class="azir-container">
        <div class="row">
          <div class="col-12 text-center">
            <div class="page-header">
              <h1 class="h1">Online Ta'lim</h1>
              <div class="bread-crumb"><a class="bread-crumb__link prv-page" href="{% url 'xtb:index' %}">Bosh sahifa</a><a class="bread-crumb__link crt-page" href="#">Online Ta'lim</a></div>
            </div>
          </div>
          <div class="col-12">
            <div class="services-group-style2">
              <div class="row">
                <div class="col-12 col-sm-6 col-lg-4">
                  <div class="service_block">
                    <div class="service-icon"><i class="fa fa-book"></i></div>
                    <div class="service-content">
                      <h5 class="h5 service-content--title">Mavzular</h5>
                      <p class="p h5 service-content--pragraph">Barcha fanlardan elektron formatdagi mavzular.</p><a href="#">Batafsil</a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                  <div class="service_block">
                    <div class="service-icon"><i class="fa fa-film"></i></div>
                    <div class="service-content">
                      <h5 class="h5 service-content--title">Taqdimotlar (slayd)</h5>
                      <p class="p h5 service-content--pragraph">Power Point formatidagi mavzular. </p><a href="#">Batafsil</a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                  <div class="service_block">
                    <div class="service-icon"><i class="fa fa-video"></i></div>
                    <div class="service-content">
                      <h5 class="h5 service-content--title">Video  darslar</h5>
                      <p class="p h5 service-content--pragraph">Masofaviy ta'lim uchun ishlangan video darslar.</p><a href="#">Batafsil</a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                  <div class="service_block">
                    <div class="service-icon"><i class="fa fa-file-word"></i></div>
                    <div class="service-content">
                      <h5 class="h5 service-content--title">Dars ishlanmalari</h5>
                      <p class="p h5 service-content--pragraph">Ustozlar tomonidan tayyorlangan dars ishlanmalari.</p><a href="#">Batafsil</a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                  <div class="service_block">
                    <div class="service-icon"><i class="fa fa-file-excel"></i></div>
                    <div class="service-content">
                      <h5 class="h5 service-content--title">Testlar</h5>
                      <p class="p h5 service-content--pragraph">Barcha mavzulardan elektron formatdagi testlar.</p><a href="#">Batafil</a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                  <div class="service_block">
                    <div class="service-icon"><i class="fa fa-file-pdf"></i></div>
                    <div class="service-content">
                      <h5 class="h5 service-content--title">Hujjatlar</h5>
                      <p class="p h5 service-content--pragraph">Qarorlar, Buyruqlar hujjatlar to'plami.</p><a href="s#">Batafsil</a>
                    </div>
                  </div>
                </div>
            
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
 {% endblock %}