{% extends 'wrappers/wrapper.html' %}
{% load static %}
{% block content %}
<section class="about">
      <section class="services">
      <div class="azir-container">
        <div class="page-header text-center">
          <h1 class="h1">Hisobotlar</h1>
          <div class="bread-crumb"><a class="bread-crumb__link prv-page" href="{% url 'xtb:index' %}">Bosh sahifa </a><a class="bread-crumb__link crt-page" href="">Katalog nomi</a></div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="services-group">
              <div class="row">
                <div class="col-12 col-sm-6 col-lg-4">
                  <div class="service_block">
                    <div class="service-icon"><img src="/static/assets/svg/pe.svg" alt="file type"></div>
                    <div class="service-content">
                      <h5 class="h5 service-content--title">File nomi</h5>
                      <p class="p h5 service-content--pragraph">38-maktab Biologiya olimpiada ko'rsatkichlari</p><a href="#" class="btn btn-sm  bg-primary">Yuklab olish</a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                  <div class="service_block">
                    <div class="service-icon"><img src="/static/assets/svg/pe.svg" alt="file type"></div>
                    <div class="service-content">
                      <h5 class="h5 service-content--title">File nomi</h5>
                      <p class="p h5 service-content--pragraph">38-maktab Biologiya olimpiada ko'rsatkichlar</p><a href="#" class="btn btn-sm  bg-primary">Yuklab olish</a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                  <div class="service_block">
                    <div class="service-icon"><img src="/static/assets/svg/penguin.svg" alt="file type"></div>
                    <div class="service-content">
                      <h5 class="h5 service-content--title">File nomi</h5>
                      <p class="p h5 service-content--pragraph">38-maktab Biologiya olimpiada ko'rsatkichlar</p><a href="#" class="btn btn-sm  bg-primary">Yuklab olish</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="about-part data-part mt-3">
        <div class="h1-section2"> 
          <div class="data-proof">
            <div class="azir-container">
              <div class="row">
                <div class="col-6 col-sm-3">
                  <div class="data-group text-center mb30-md">
                    <div class="data-icon"><img src="/static/assets/svg/school.svg" width="130" height="130" alt=""></div>
                    <div class="data-content">
                      <h1 class="data-number heading numscroller" data-min="2" data-max="48" data-delay="5" data-increment="5">48</h1>
                      <h5 class="data-type h5">Maktablar</h5>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-sm-3">
                  <div class="data-group text-center mb30-md">
                    <div class="data-icon"><img src="/static/assets/svg/teachers.svg" width="130" height="130" alt=""></div>
                    <div class="data-content">
                      <h1 class="data-number heading numscroller" data-min="1" data-max="635" data-delay="5" data-increment="5">635</h1>
                      <h5 class="data-type h5">Ustozlar</h5>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-sm-3">
                  <div class="data-group text-center">
                    <div class="data-icon"><img src="/static/assets/svg/kids.svg" width="130" height="130" alt=""></div>
                    <div class="data-content">
                      <h1 class="data-number heading numscroller" data-min="1" data-max="2365" data-delay="2" data-increment="3">2365+<span>+</span></h1>
                      <h5 class="data-type h5">O'quvchilar</h5>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-sm-3">
                  <div class="data-group text-center">
                    <div class="data-icon"><img src="/static/assets/svg/users.svg" width="130" height="130" alt=""></div>
                    <div class="data-content">
                      <h1 class="data-number heading numscroller" data-min="1" data-max="1920" data-delay="5" data-increment="5">1920</h1>
                      <h5 class="data-type h5">Foydalanuvchilar</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
 {% endblock %}