{% extends 'wrappers/wrapper.html' %}
{% load static %}
{% block content %}
<section class="about">
      <div class="azir-container">
        <div class="page-header text-center">
          <h1 class="h1">Services</h1>
          <div class="bread-crumb"><a class="bread-crumb__link prv-page" href="index.html">About Us</a><a class="bread-crumb__link crt-page" href="">About</a></div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="about-content">
              <div class="about-part experience-part">
                <div class="row align-items-center">
                  <div class="col-12 col-md-6">
                    <div class="section-header-style-3">
                      <h1 class="h1">30 Years of Experience</h1>
                      <h6 class="h6">"We’re passionate about making a measurable impact in all we do."</h6>
                      <p class="p">For more than 40 years, we’ve been passionate about achieving better results for our clients—results that go beyond financial and are uniquely tailored, pragmatic, holistic and enduring.</p><a class="btn-pink" href="contact.html">Contact us</a>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="chart"><canvas id="myChart" width="400" height="250"></canvas></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="about-part data-part">
        <div class="h1-section2"> 
          <div class="data-proof">
            <div class="azir-container">
              <div class="row">
                <div class="col-6 col-sm-3">
                  <div class="data-group text-center mb30-md">
                    <div class="data-icon"><i class="az-icon-10"></i></div>
                    <div class="data-content">
                      <h1 class="data-number heading numscroller" data-min="1" data-max="2009" data-delay="5" data-increment="5">2009</h1>
                      <h5 class="data-type h5">Company Established</h5>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-sm-3">
                  <div class="data-group text-center mb30-md">
                    <div class="data-icon"><i class="az-icon-11"></i></div>
                    <div class="data-content">
                      <h1 class="data-number heading numscroller" data-min="1" data-max="635" data-delay="5" data-increment="5">635</h1>
                      <h5 class="data-type h5">Project Done</h5>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-sm-3">
                  <div class="data-group text-center">
                    <div class="data-icon"><i class="az-icon-12"></i></div>
                    <div class="data-content">
                      <h1 class="data-number heading numscroller" data-min="1" data-max="20" data-delay="2" data-increment="3">20<span>+</span></h1>
                      <h5 class="data-type h5">Business Parners</h5>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-sm-3">
                  <div class="data-group text-center">
                    <div class="data-icon"><i class="az-icon-13"></i></div>
                    <div class="data-content">
                      <h1 class="data-number heading numscroller" data-min="1" data-max="1920" data-delay="5" data-increment="5">1920</h1>
                      <h5 class="data-type h5">Happy Clients</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="azir-container">
        <div class="about-content">
          <div class="about-part our-job-part">
            <div class="section-header-style-2 text-center">
              <h1 class="h1">We are help you to <br> Grow your Business</h1>
              <p class="p">We work with you to transform your organization, driving bold ideas and pragmatic solutions.</p>
            </div>
            <div class="our-job-part_services services">
              <div class="services-group-style2">
                <div class="service_block">
                  <div class="service-icon"><i class="az-icon-1"></i></div>
                  <div class="service-content">
                    <h5 class="h5 service-content--title">Strategy</h5>
                    <p class="p h5 service-content--pragraph">Tailored solutions that deliver results and achieve sustained growth</p><a href="services_detail_1.html">Read more</a>
                  </div>
                </div>
                <div class="service_block">
                  <div class="service-icon"><i class="az-icon-2"></i></div>
                  <div class="service-content">
                    <h5 class="h5 service-content--title">Taxes</h5>
                    <p class="p h5 service-content--pragraph">Tailored solutions that deliver results and achieve sustained growth</p><a href="services_detail_1.html">Read more</a>
                  </div>
                </div>
                <div class="service_block">
                  <div class="service-icon"><i class="az-icon-3"></i></div>
                  <div class="service-content">
                    <h5 class="h5 service-content--title">Restructuring</h5>
                    <p class="p h5 service-content--pragraph">Tailored solutions that deliver results and achieve sustained growth</p><a href="services_detail_1.html">Read more</a>
                  </div>
                </div>
                <div class="service_block">
                  <div class="service-icon"><i class="az-icon-4"></i></div>
                  <div class="service-content">
                    <h5 class="h5 service-content--title">Consumer Markets</h5>
                    <p class="p h5 service-content--pragraph">Tailored solutions that deliver results and achieve sustained growth</p><a href="services_detail_1.html">Read more</a>
                  </div>
                </div>
                <div class="service_block">
                  <div class="service-icon"><i class="az-icon-5"></i></div>
                  <div class="service-content">
                    <h5 class="h5 service-content--title">Financial Services</h5>
                    <p class="p h5 service-content--pragraph">Tailored solutions that deliver results and achieve sustained growth</p><a href="services_detail_1.html">Read more</a>
                  </div>
                </div>
              </div>
              <div class="services-group_control text-center"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
 {% endblock %}