<style>
  .sidebar{
    margin-top:10px;
    padding:10px;
    width:100%;
    margin:10px auto;
    height:505px;
    border-bottom:2px solid black;
    border-top:2px solid black;
    border-radius:8px;
    overflow: auto;
  }
  .sidebar>form{
    padding-top:10px;
  }
  .input-form{
    
    width:90%;
    padding:5px;
    margin:5px auto;

  }
  .form{
    border-radius:8px;
    margin-left:15px;

  }
  .card-text{
    padding-left:7px;

  }

  #news_text{
    color:white;
    font-style:bold;
    font-size:25px;
  }

/* demo background */
/*body{
background: #200122;
background: -webkit-linear-gradient(to right, #6f0000, #200122);
background: linear-gradient(to right, #6f0000, #200122);
}*/

/* style snippet */
#thumbnail-preview-indicators {
 position: relative;
 overflow: hidden;
}
#thumbnail-preview-indicators .slides .slide-1, 
#thumbnail-preview-indicators .slides .slide-2,
#thumbnail-preview-indicators .slides .slide-3 {
 background-size: cover;
 background-position: center center;
 background-repeat: no-repeat;
}
 #thumbnail-preview-indicators,
 #thumbnail-preview-indicators .slides,
 #thumbnail-preview-indicators .slides .slide-1, 
 #thumbnail-preview-indicators .slides .slide-2,
 #thumbnail-preview-indicators .slides .slide-3 {
 height: 480px;
 }



  #thumbnail-preview-indicators .carousel-inner .item .carousel-caption {
 top: 20%;
 bottom: inherit;
}
#thumbnail-preview-indicators .carousel-indicators li,
#thumbnail-preview-indicators .carousel-indicators li.active {
 position: relative;
 width: 100px;
 height: 8px; 
}
#thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
 position: absolute;
 top: 0;
 width: 100px;
 display: none;
 opacity: 0;
 left: 50%;
 margin-top: -80px;
 margin-left: -50px;
}
#thumbnail-preview-indicators .carousel-indicators li:hover > .thumbnail,
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail {
 display: block;
 opacity: .8;
}
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail:hover{
 opacity: 1;
}
@media screen and (max-width : 480px) { 
 #thumbnail-preview-indicators .carousel-indicators li,
 #thumbnail-preview-indicators .carousel-indicators li.active {
 width: 50px;
 height: 8px;
 position: relative;
 }
 #thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
 width: 50px;
 left: 50%;
 margin-top: -50px;
 margin-left: -25px;
 }
}

  .card{
    border:none;
  
    width:95%;
    margin:0px auto;
  }
   .card-footer{
    border:none;

  }
    .card-footer{
    border:none;
    border-radius-left:10px;
    font-size:18px;
    
  }




.serviceBox{
 border: 1px solid #8a716a;
 border-radius: 10px;
 margin-top: 30px;
 padding: 25px 20px;
 position: relative;
}
.serviceBox .service-icon{
 width: 60px;
 height: 60px;
 line-height: 60px;
 border-radius: 5px;
 background: #9074E3;
 font-size: 40px;
 color: #fff;
 text-align: center;
 position: absolute;
 top: -30px;
 right: 40px;
}
.serviceBox .service-icon:before{
 content: "";
 width: 100%;
 height: 100%;
 background: #fff;
 position: absolute;
 top: -20px;
 left: -45px;
 opacity: 0.1;
 transform: rotate(137deg) scale(1.5) skew(29deg) translate(-1px);
}
.serviceBox .service-icon:after{
 content: "";
 border-top: 11px solid #9074E3;
 border-right: 11px solid transparent;
 position: absolute;
 top: 100%;
 left: 50%;
 margin-left: -4px;
}
.serviceBox .title{
 font-size: 24px;
 color: #787472;
}
.serviceBox .description{
 font-size: 16px;
 color: #8a716a;
 line-height: 25px;
}
@media only screen and (max-width: 990px){
 .serviceBox{ margin-bottom: 30px; }
}
@media only screen and (max-width: 767px){
 .serviceBox{ margin-bottom: 40px; }
}
</style>